.languageSelector-body {
	display: inline-block;

	width: calc(50vw - 1.5rem);
	margin-left: 1rem;
}

.languageSelector-body-right, .languageSelector-body-right select {
	text-align: right;
}

.languageSelector-body textarea {
	width: 100% !important;
	height: 2.1rem !important;

	background: hsl(220deg 15% 24%);
	color: #EEEEEE;
	font-family: sans-serif;
	padding: 0.5rem;
}

input, select {
	padding: 0.5rem 1rem;
}