.languageSelector-body {
	display: inline-block;

	width: 47vw;
	margin: 1vw;
}

.languageSelector-body-right, .languageSelector-body-right select {
	text-align: right;
}

.languageSelector-body textarea {
	width: 100% !important;
	height: 1rem !important;

	background: hsl(220deg 15% 24%);
	color: #EEEEEE;
	font-family: sans-serif;
	padding: 0.5rem;
}
