.fileName-element {
	padding: 0.25rem;
	padding-left: 0.5rem;
	line-height: 2rem;
}

.arrow {
  border: solid white;
  border-width: 0 1px 1px 0;
  display: inline-block;
  padding: 4px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.file-selector {
  padding: 1rem;
}

.file-selector select {
  min-width: calc(50% - 2rem);
  padding: 0.5rem 1rem;
}